<h2><%= @post.title %></h2>
<%= link_to "edit", edit_post_path(@post) %>
<p>A <%= @post.category %> post.</p>
<hr />
<p><%= @post.content %></p>


<%# Create forms with form_tag for both models' new and edit actions.
// Prefill already-submitted forms with the invalid data when re-rendering.
// Display a list of errors at the top of forms when an invalid action is attempted. They should be contained in an element with id error_explanation, and each error should have its own <li>.
// Conditionally wrap each field in a .field_with_errors div if it has errors.%>